.Wrapper { color: orange; }
 .Wrapper.Test { color: green; }
 .Pre { display: block; font-family: monospace; white-space: pre; margin: 1em 0; }
 .Pre .tag { color: green; }
 .Pre .keyword { color: purple; }
 .Pre .builtin { color: cadetblue; }
 .Pre .string { color: #dd8f00 !important; }
 .Pre .colon { color: darkgreen; }
 .Pre .boolean { color: blue; }
 .Pre .actions { color: blueviolet; }
 .Pre .state { color: cornflowerblue; }
 .Pre .comment { color: grey; font-style: italic; }
 h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
 article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
 body { line-height: 1; margin: 0; padding: 0; }
 ol, ul { list-style: none; }
 blockquote, q { quotes: none; }
 blockquote:before, blockquote:after, q:before, q:after { content: none; }
 table { border-collapse: collapse; border-spacing: 0; }
 header.main { display: inline-block; width: 90%; }
 header.main .logo { float: left; }
 header.main .Menu { float: right; margin: 2em 0 0; }
 header.main .Menu li { float: left; margin: 0 0.5em 0 0; }
 h1,h2,h3,h4,h5 { margin: .5em 0; }
 h1 { font-size: 1.3em; }
 h2 { font-size: 1.2em; font-weight: bold; }
 h3 { font-size: 1.2em; }
 h4 { font-weight: 600; }
 h5 { font-weight: 600; }
 a { text-decoration: none; color: blue; outline: none; }
 a:hover { color: orange; }
 .Menu .active { text-decoration: underline; }
