.Wrapper { color: orange; }
 .Wrapper.Test { color: green; }
 .Menu li { float: left; margin: 0 .5em 0 0; }
 .Menu.block li { clear: both; margin: 0.5em 0 0; }
 .Menu .active { text-decoration: underline; }
 .Pre { display: block; font-family: monospace; white-space: pre; margin: 1em 0; line-height: 1.3; border: 1px solid #666; padding: 1em .5em 1em .2em; border-radius: 5px; counter-reset: line; }
 .Pre > code { display: block; counter-increment: line; }
 .Pre > code:before { content: counter(line); user-select: none; padding: 0 .5em 0 0; width: 3ch; text-align: right; display: inline-block; }
 .Pre .menu { float: right; margin-top: -.7em; }
 .Pre button { padding: 0; }
 .Pre.light { background-color: #eee; }
 .Pre.light > code:before { color: #666; }
 .Pre.light .html { color: #008800; }
 .Pre.light .keyword { color: purple; }
 .Pre.light .builtin { color: cadetblue; }
 .Pre.light .string { color: #d15100; }
 .Pre.light .colon { color: #016301; }
 .Pre.light .boolean { color: blue; }
 .Pre.light .actions { color: blueviolet; }
 .Pre.light .state { color: cornflowerblue; }
 .Pre.light .comment { color: #555; font-style: italic; }
 .Pre.light .object { color: #016301; }
 .Pre.light .property { color: #2a952a; }
 .Pre.dark { color: #eee; background-color: #222; }
 .Pre.dark > code:before { color: #666; }
 .Pre.dark .html { color: #008800; }
 .Pre.dark .keyword { color: violet; }
 .Pre.dark .builtin { color: cadetblue; }
 .Pre.dark .string { color: #dd8f00; }
 .Pre.dark .colon { color: #8eef8e; }
 .Pre.dark .boolean { color: #7979e4; }
 .Pre.dark .actions { color: blueviolet; }
 .Pre.dark .state { color: cornflowerblue; }
 .Pre.dark .comment { color: #999; font-style: italic; }
 .Pre.dark .object { color: #00ff00; }
 .Pre.dark .property { color: #8eef8e; }
 footer.main { position: relative; text-align: center; padding: 5em 0 .5em; }
 h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
 article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
 body { line-height: 1.5; margin: 0; padding: 0; overflow-y: scroll; min-height: 100vh; }
 ol, ul { list-style: none; }
 blockquote, q { quotes: none; }
 blockquote:before, blockquote:after, q:before, q:after { content: none; }
 table { border-collapse: collapse; border-spacing: 0; }
 a { outline: none; text-decoration: none; color: blue; }
 a:hover { color: orange; }
 #magic { margin: 0 auto; width: 90%; }
 header { display: inline-block; width: 90%; }
 header.main .logo { float: left; }
 header.main .Menu { float: right; margin: 2em 0 0; }
 .page header { margin: 0 0 .5em; }
 .page h1 { margin: 1em 0 .7em; }
 footer { width: 100%; }
 h1,h2,h3,h4,h5 { margin: .5em 0; }
 h1 { font-size: 1.3em; }
 h2 { font-size: 1.2em; font-weight: bold; }
 h3 { font-size: 1.2em; }
 h4 { font-weight: 600; }
 h5 { font-weight: 600; }
